<#--
 #%L
 JAXX :: I18n Editor
 %%
 Copyright (C) 2008 - 2025 Code Lutin, Ultreia.io
 %%
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Lesser Public License for more details.
 You should have received a copy of the GNU General Lesser Public
 License along with this program.  If not, see
 <http://www.gnu.org/licenses/lgpl-3.0.html>.
 #L%
-->
<html>
<body>
  <#if connexionStatus.name() == "UNTESTED">

    <h3>La connexion n'a jamais été validée ou a été modifiée depuis le dernier test de connexion.</h3>

  <#elseif connexionStatus.name() == "FAILED">

    <h3>La connexion a échoué pour la raison suivante :</h3>

    <ul>
      <li>${connexionStatusError}</li>
    </ul>

  <#elseif connexionStatus.name() == "SUCCESS">

    Informations sur la connexion :
    <#import "storageModelDataSourceConfiguration_fr.ftl" as storageInfo>
    <@storageInfo.storageModelDataSourceInformation storageModel=.data_model />

  </#if>
</body>
</html>
