<#--
 #%L
 JAXX :: I18n Editor
 %%
 Copyright (C) 2008 - 2025 Code Lutin, Ultreia.io
 %%
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Lesser Public License for more details.
 You should have received a copy of the GNU General Lesser Public
 License along with this program.  If not, see
 <http://www.gnu.org/licenses/lgpl-3.0.html>.
 #L%
-->
<html>
<body>

<h3>Chargement d'une source de donnée</h3>

<p>
    La base locale n'existe pas (emplacement ${localDb.absolutePath}).
</p>

Vous pouvez à ce stade

<ul>
<#if withBackup>
    <li>utiliser la dernière sauvegarde automatique (${backupDate})</li>
</#if>
    <li>créer la base locale</li>
    <li>vous connecter à une base distante.</li>
</ul>

</body>
</html>
