<#--
 #%L
 JAXX :: I18n Editor
 %%
 Copyright (C) 2008 - 2025 Code Lutin, Ultreia.io
 %%
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Lesser Public License for more details.
 You should have received a copy of the GNU General Lesser Public
 License along with this program.  If not, see
 <http://www.gnu.org/licenses/lgpl-3.0.html>.
 #L%
-->
<#macro storageModelDataSourceInformation storageModel>
<#if storageModel??>
  <ul>
    <#if storageModel.editRemoteConfig>
      <li><strong>Jdbc URL: </strong>${storageModel.pgConfig.jdbcUrl}</li>
      <li><strong>User: </strong>${storageModel.pgConfig.username}</li>
      <li><strong>Password: </strong>*****</li>
      <li><strong>SSL mode: </strong>${storageModel.pgConfig.useSsl?then('Yes', 'No')}</li>
      <#elseif storageModel.editServerConfig>
        <li><strong>Web service URL: </strong>${storageModel.restConfig.serverUrl}</li>
        <li><strong>User: </strong>${storageModel.restConfig.login}</li>
        <li><strong>Password: </strong>*****</li>
        <#if storageModel.restConfig.optionalDatabaseName.present>
          <li><strong>Database alias: </strong>${storageModel.restConfig.optionalDatabaseName.get()}</li>
        </#if>
        <#else>
          <li><strong>User: </strong>${storageModel.h2Config.username}</li>
          <li><strong>Password: </strong>*****</li>
    </#if>
    <li><strong>Rights: </strong>
      <ul>
        <li>
          <em>Reference data: </em>
          <#if storageModel.dataSourceInformation.canReadReferential() >
            Read
            <#if storageModel.dataSourceInformation.canWriteReferential() >
              / Write
            </#if>
            <#elseif storageModel.dataSourceInformation.canWriteReferential()>
              Write
              <#else>
                No rights
          </#if>
        </li>
        <li>
          <em>Observer data: </em>
          <#if storageModel.dataSourceInformation.canReadData() >
            Read
            <#if storageModel.dataSourceInformation.canWriteData() >
              / Write
            </#if>
            <#elseif storageModel.dataSourceInformation.canWriteData() >
              Write
              <#else>
                No rights
          </#if>
        </li>
      </ul>
    </li>
  </ul>

<#else>
  NO STORAGE MODEL
</#if>
</#macro>
