<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE map
        PUBLIC "-//Sun Microsystems Inc.//DTD JavaHelp Map Version 1.0//EN"
        "http://java.sun.com/products/javahelp/map_1_0.dtd">
<map version="1.0">

    #if ( !$helpIds.get("toplevelfolder"))
      <!-- use this entry to go up in navigation -->
      <!--mapID target="toplevelfolder" url="images/toplevel.gif" /-->
    #end

    #foreach( $key in $helpIds.keys() )
      <mapID target="$key" url="$helpIds.get($key)"/>
    #end

</map>
