<?xml version='1.0' encoding='UTF-8'  ?>
<!DOCTYPE index
        PUBLIC "-//Sun Microsystems Inc.//DTD JavaHelp Index Version 1.0//EN"
        "http://buix.labs.libre-entreprise.org/javahelp/index_1_0.dtd">

## pour afficher un org.nuiton.jaxx.NodeItem
#macro ( renderItem $item $prefix )
    #if ( $item.isLeaf() )
        $prefix
    <indexitem target="$item.absoluteTarget" text="$!item.text"/>
    #else
        $prefix<indexitem target="$item.absoluteTarget" text="$!item.text">
        #foreach( $child in $item.getChilds() )
            #renderItem( $child "$prefix$separator" )
        #end
$prefix</indexitem>
    #end
#end

<index version="1.0">
    #renderItem( $rootItem $separator )
</index>
